version: 2.1
jobs:
    build:
        docker:
            - image: cimg/python:3.9
        steps:
            - checkout
            - restore_cache:
                keys:
                  # restore cache from last build. Unless __init__.py has changed since then
                  - data-cache-{{ checksum "./autoreject/__init__.py" }}-{{ checksum "setup.py" }}
            - run:
                name: Setup Python environment
                command: |
                    python -m pip install --user --upgrade --progress-bar off pip
                    python -m pip install --user --progress-bar off -e .[full]
                    python -m pip install --user --progress-bar off -e .[doc]
                    python -m pip install --user --progress-bar off git+https://github.com/hoechenberger/openneuro-py.git#egg=openneuro-py
            - run:
                name: Download MNE sample data
                command: |
                  python -c "import mne; mne.datasets.sample.data_path()"
            - run:
                name: Build the documentation
                command: |
                    make -C doc html
                no_output_timeout: 2h
            - store_artifacts:
                path: doc/_build/html/
                destination: html
            - save_cache:
                key: data-cache-{{ checksum "./autoreject/__init__.py" }}-{{ checksum "setup.py" }}
                paths:
                  - ~/.mne
                  - ~/mne_data/MNE-sample-data
                  - $CIRCLE_WORKING_DIRECTORY/examples/ds000117
